<module>
	<rawname>printextensions</rawname>
	<repo>standard</repo>
	<name>Print Extensions</name>
	<version>2.9.0.1</version>
	<publisher>Bandwidth.com</publisher>
	<license>GPLv2</license>
	<category>Reports</category>
	<description>Creates a printable list of extension numbers used throughout the system from all modules that provide an internal callable number</description>
	<menuitems>
		<printextensions>Print Extensions</printextensions>
	</menuitems>
	<changelog>
		*2.9.0.1* #4650
		*2.9.0.0* #4647 make exten numbers a link to edit the extension
	</changelog>
	<location>release/2.9/printextensions-2.9.0.1.tgz</location>
	<md5sum>bab2d120698f395dcd7e2828dd4673ce</md5sum>
</module>
